// Home - body
.textContent {
  text-align: center;
  font-size: 1.3rem;

  p {
    color: #fff;
  }
}

.textContent p {
  color: #fff;
}

.textTitle {
  font-size: 1.6rem;
  font-weight: 900;
}

// Home - Header
.title {
  padding-bottom: 20px;
  text-align: center;
  margin-top: 2rem;
  color: #fff;
}

.textTitle {
  font-size: 1.6rem;
  font-weight: 900;
}
